.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  flex-direction: column;
}

.playOnline {
  background-color: #E4CA56;
  font-size: 60px;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-top: 30vh;
  padding: 6px 10px;
  border: none;
}

.water-background {
  background-color: #4B495F;
}

.game-heading {
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.square-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  width: max-content;
  margin: 0 auto;
}

.move-detection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 400px;
}

.finished-state {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.left, .right {
  height: 30px;
  width: 120px;
  background-color: #4B495F;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 550;
  padding-bottom: 5px;
  text-align: center;
}

.waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 44px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.current-move-cross {
  background-color: #3FA7F0 !important;
}

.current-move-circle {
  background-color: #DD7F9F !important;
}